@page "/uploadcsv"

@using System.Text.Json
@using Azure.Storage.Blobs
@using Microsoft.AspNetCore.Components.Forms
@using MauiApp1.Models
@using MauiApp1.Services
@inject IConfigService ConfigService

<EditForm Model="@uploadModel" OnValidSubmit="HandleFileUpload">
    <div class="form-group">
        <label>CSV File:</label>
        <InputFile OnChange="HandleFileSelected" accept=".csv" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Upload CSV</button>
</EditForm>

@if (!string.IsNullOrEmpty(alertMessage))
{
    <div class="alert @alertClass mt-3" role="alert">
        @alertMessage
    </div>
}

@code {
    private CsvUploadModel uploadModel = new CsvUploadModel();
    private ConfigModel configModel = new ConfigModel();
    private string alertMessage = string.Empty;
    private string alertClass = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        configModel = await ConfigService.LoadConfigAsync();
    }

    private void HandleFileSelected(InputFileChangeEventArgs e)
    {
        uploadModel.CsvFile = e.File;
    }

    private async Task HandleFileUpload()
    {
        try
        {
            if (uploadModel.CsvFile != null)
            {
                var maxFileSize = 1024 * 1024;
                using var stream = uploadModel.CsvFile.OpenReadStream(maxFileSize);
                var blobClient = new BlobClient(configModel.ConnectionString, configModel.FileContainerName, uploadModel.CsvFile.Name);
                await blobClient.UploadAsync(stream, true);

                // Set success message
                alertMessage = "File uploaded successfully!";
                alertClass = "alert-success";
            }
            else
            {
                alertMessage = "Please select a file to upload.";
                alertClass = "alert-warning";
            }
        }
        catch (Exception ex)
        {
            // Set error message
            alertMessage = $"File upload failed: {ex.Message}";
            alertClass = "alert-danger";
        }
    }
}