<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SDR</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="heatmap">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="config">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Configuration
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="uploadcsv">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Upload CSV
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="generatechart">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Generate Chart
            </NavLink>
        </div>
    </nav>
</div>